@import './mixins.scss';

body{
     margin :0;
     font-family: 'Montserrat', sans-serif;
 }
 .banner{
     width: 100%;
     height: 770px;
     background-image: url('../images/banner.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center ; 
     position: relative;
     @include flexMix;
     &__info {
         @include flexMix($direction: column);
         &-title{
             @include fontStyle(48px, white);
             font-weight: 400;
             text-transform: uppercase;
             margin-bottom: 33px;
             &_small{
                 @include fontStyle(20px, white, 'Roboto Slab');
                 text-transform: capitalize;
                 margin-bottom: 53px;
             }
         }
     }
 }
 .header{
     @include flexMix(space-between); 
     padding-top: 40px;
     width: 1140px;
     margin: 0 auto;
     position: absolute;
     top: 0;
 

     .header__logo{
         @include fontStyle(24px, white);
         font-weight: 700;
     } 
     &__links {
         &-item{
             text-decoration: none;
             @include fontStyle(14px, white);
             margin-right: 35px;

            &:last-child{
                margin-right: 0; 
            }
            &:hover{
                text-decoration: none;
                color: white;
            }
         } 
     }
     @media screen and (max-width: 1140px) { 
         width: 100%;
         padding: 0 15px;
         padding-top: 20px;
     }
 }
 .button {
     border: 2px solid white;
     border-radius: 2px;
     outline: none;
     text-transform: uppercase;
     background-color: transparent;
     @include fontStyle($color: white);
     font-weight: 400;
     padding: 18px 45px; 
     box-sizing: border-box;
 } 
 .services{
     padding: 100px 0;
     box-sizing: border-box;
     .card{
         border: none;
         @include flexMix($direction: column);
         margin-top: 70px;
         img{
             width: 85px;
             height: 85px;
             margin-bottom: 30px;

         }
         &_title{
            @include fontStyle(14px, #555555);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 25px;
         }
         &_text{
             @include fontStyle(14px, #555555,'Roboto Slab');
             font-weight: 400;
             text-align: center;

         }
     }
 }
 .title{
     @include fontStyle(20px, #555555);
     font-weight: 400;
     text-transform: uppercase;
     margin-bottom: 62px;
     position:relative;
     text-align: center;
     &::after{ 
         content:'' ;
         position: absolute;
         left: calc(50% - 25px);
         bottom: -32px;
         height: 2px;
         width: 50px;
         background: #555555; 


     }
 } 
 .subtitle{
    @include fontStyle($color: #555555, $family: 'Roboto Slab');
    font-weight: 400;
    text-align: center;
 } 
 .about{
     padding: 100px 0;
     box-sizing: border-box;
     background-color: #f8f8f8;
     &__text{
         @include fontStyle(#555555, 14px, 'Roboto Slab');
         font-weight: 400;
         margin-top: 70px;
         text-align: justify;

         @media screen and (max-width: 1197px) {
            margin-top: 30px;
         } 
     }
     .card{
         width: 100%;
         @include flexMix($direction: column);
         border: none;
         background: transparent;
         margin-top: 70px;
         position: relative;
         &:hover> .card__avatar> .card__avatar-social{
             opacity: 1;
         }
         &__avatar{
             width: 100%;
             height: 250px;
             background-repeat: no-repeat;
             background-position: center;
             background-size: cover;
             margin-bottom: 20px;

            &_khalil{
                background-image: url('../images/foto1.jpg');
            }
            &_rubel{
                background-image: url('../images/foto2.jpg');
            }
            &_shamim{
                background-image: url('../images/foto3.jpg');
            } 
            &_john{
                background-image: url('../images/foto4.jpg');
            }
            &-social{
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .3);
                box-sizing: border-box;
                padding-bottom: 30px;
                @include flexMix($aligh: flex-end);
                opacity: 0;
                transition: .3s;

                .group {
                    @include flexMix;
                    &__item{
                        width: 28px;
                        height: 28px;
                        @include flexMix;
                        cursor: pointer;
                        transition: .3s;
                        &:hover{
                            background: #c0301c;
                        }
                    }
                }
            }
         }
         &__description{
             width: 100%;
             @include flexMix($direction: column);
             &-name{
                 text-transform: uppercase;
                 margin-bottom: 15px;
                 @include fontStyle(#555555, 14px, 'Montserrat');
                 font-weight: 400;
             }
             &-role{
                 @include fontStyle(#555555, 13px, 'Roboto Slab');
                 font-weight: 400;
             }
         }
        
     } 

 }

 .slider-btn{
     width: 36px;
     height: 38px;
     background: rgba(0, 0, 0, .3); 
     @include flexMix;
     cursor: pointer;
     @include fontStyle( 25px, white,  'Roboto Slab');
     font-weight: 200;
     position: absolute;
     left: 0;
     top: 106px;
     &:hover{
         background: #c0301c;
     }
     &_right{
         left: calc(100% - 36px);
     }
 } 


